In [98]:
import numpy as np
import pandas as pd
parquet_file_path = r"C:\Users\manav\OneDrive\Desktop\TB\data.parquet"
uninterpolated_df = pd.read_parquet(parquet_file_path)
df = uninterpolated_df.interpolate(method='linear')
df

                     banknifty     nifty  tte
time
2021-01-01 09:15:00   0.286058  0.199729   27
2021-01-01 09:16:00   0.285381  0.200433   27
2021-01-01 09:17:00   0.284233  0.200004   27
2021-01-01 09:18:00   0.286104  0.199860   27
2021-01-01 09:19:00   0.285539  0.198951   27
...                        ...       ...  ...
2022-06-30 15:26:00   0.240701  0.214758   28
2022-06-30 15:27:00   0.240875  0.216558   28
2022-06-30 15:28:00   0.242115  0.216794   28
2022-06-30 15:29:00   0.243426  0.216455   28
2022-06-30 15:30:00   0.241907  0.216081   28

[690512 rows x 3 columns]

In [103]:
spread = df["banknifty"] - df["nifty"]
PL = spread*df["tte"]**(0.7)

In [107]:
meanSpread = spread.rolling(window=40, min_periods=1).mean()
stdSpread = spread.rolling(window=40, min_periods=1).std()
stdSpread[0] = 0

In [109]:
zscore = (spread - meanSpread)/stdSpread
zscore[0] = 0